<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>account</th>
      <th>текст</th>
      <th>дата</th>
      <th>прочитано</th>
      <th>количество файлов</th>
      <th>Дата копирования </th>

      <th> </th>
    </tr>
    <tr>
     <th ></th>
     <th > </th>
     <th>   <%=date_field_tag('start_date',Time.now, form: "searchform")  %> <br>
       <%= date_field_tag('end_date', Time.now, form: "searchform") %>  </th>
     <th  ><%= select_tag  "is_read", options_for_select([["Все","all"],["Прочитанные","true"], ["Непрочитанные","false"]]), form: "searchform" %> </th>
     <th ><%=text_field_tag("files_count",'', form: "searchform")%></th>
     <th > </th>
     <th > <%=submit_tag("Фильтр", id: "searchButton",class:"btn btn-primary", form: "searchform") %><br>
           <%=link_to "Очистить",'#', id: "clearButton",class:"btn btn-primary" %>
      </th>
    </tr>
   </thead>

   <tbody id="tablebody" >
    <%=render 'tablebody'%>
  </tbody>
</table>
